META_CAPI_TOKEN=EAAdNhdZBjac0BRVP2kjWiWy3in2PDlFuWVbLFJKwxS7SoSX4WxoTiy2gMIEbZBr9Roh3qNa9ZAGanf3azOUkoHZCnU1oZCHnYXEFpZAzhj4f6TlnyDxlUsddmv04ZAwFe9eO7J7XZABcYcr2hmpO7mkxVMvZCxntpiB6p3Ey6ZAtvHWJIJWXZAIEtagasfrbBdhOAZDZD
META_PIXEL_ID=836093969544174
